<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.intellij.examples.kotlin.mapper.StudentWithParentMapper">

    <resultMap id="StudentWithParent" type="io.intellij.examples.kotlin.entities.po.StudentWithParent">
        <id column="id" property="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="name" property="name"/>
        <result column="info" property="info"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <select id="pageList" resultMap="StudentWithParent">
        select `id`, `name`, `info`
        from student
    </select>

</mapper>