<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.hello.mapper.StudentMapper">

    <select id="pageListStudents" resultType="org.example.hello.entities.po.Student">
        SELECT `id`,`name` FROM student
    </select>
</mapper>